<div ng-cloak>
    <section infinite-scroll="vm.loadPage(vm.page + 1)">
        <div class="row result-article" ng-repeat="studio in vm.studios track by studio.id">
            <article>
                <div class="col-lg-4 text-left">
                    <figure>
                        <img data-ng-src="{{'data:' + studio.imageContentType + ';base64,' + studio.image}}"
                             style="max-height: 150px;"/>
                    </figure>
                </div>
                <div class="col-lg-4 text-left">
                    <h3 class="studio-header">{{studio.name}}</h3>
                    <p ng-if="studio.street"><i class="fa fa-map-marker"></i> {{studio.street}} {{studio.house}},
                        {{studio.city}}</p>
                    <p class="section">{{studio.description}}</p>
                </div>
                <div class="col-lg-4 text-left">

                </div>
            </article>
        </div>
    </section>
</div>
