<div ng-cloak>
    <section infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
        <div class="row result-article" ng-repeat="studio in vm.studios track by studio.id">
            <article>
                <div class="col-lg-4 text-left">
                    <figure>
                        <img data-ng-src="{{'data:' + studio.imageContentType + ';base64,' + studio.image}}"
                             style="max-height: 150px; max-width: 150px;"/>
                    </figure>
                </div>
                <div class="col-lg-4 text-left">
                    <h3 class="voffsetno">{{studio.name}}</h3>
                    <p ng-if="studio.street"><i class="fa fa-map-marker"></i> {{studio.street}} {{studio.house}},
                        {{studio.city}}</p>
                    <p>{{studio.description}}</p>
                </div>
                <div class="col-lg-4 text-left">
                    <p class="lead">{{studio.pricePerHour}} €/h</p>
                    <p class="lead">{{studio.contactInfos[0].value}}</p>
                    <button class="btn btn-primary" ui-sref="studio-detail({id:studio.id})">
                        <span translate="global.button.details">Details</span>
                    </button>
                </div>
            </article>
        </div>
    </section>
</div>
