
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudioLabel" translate="studiocity2App.studio.home.createOrEditLabel">Create or edit a Studio</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.studio.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.studio.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.studio.name"
                    required ng-minlength="1" ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.studio.description"
                    ng-minlength="1" ng-maxlength="4096" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4096">
                    This field cannot be longer than 4096 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.studio.city"
                    required ng-minlength="2" ng-maxlength="255" />
            <div ng-show="editForm.city.$invalid">
                <p class="help-block"
                    ng-show="editForm.city.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.city.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.city.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.studio.street"
                    required ng-minlength="2" ng-maxlength="255" />
            <div ng-show="editForm.street.$invalid">
                <p class="help-block"
                    ng-show="editForm.street.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.street.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.street.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.house" for="field_house">House</label>
            <input type="text" class="form-control" name="house" id="field_house"
                    ng-model="vm.studio.house"
                    required ng-minlength="1" ng-maxlength="255" />
            <div ng-show="editForm.house.$invalid">
                <p class="help-block"
                    ng-show="editForm.house.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.house.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.house.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="studiocity2App.studio.index" for="field_index">Index</label>
            <input type="text" class="form-control" name="index" id="field_index"
                    ng-model="vm.studio.index"
                    ng-minlength="2" ng-maxlength="10" />
            <div ng-show="editForm.index.$invalid">
                <p class="help-block"
                    ng-show="editForm.index.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.index.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.studio)" ngf-pattern="'image/*'">
            <label class="control-label" translate="studiocity2App.studio.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.studio.imageContentType + ';base64,' + vm.studio.image}}" style="max-height: 100px;" ng-if="vm.studio.image"/>
                <div ng-if="vm.studio.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.studio.imageContentType}}, {{vm.byteSize(vm.studio.image)}}</span>
                    <button ng-click="vm.studio.image=null;vm.studio.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.studio)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.studio.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.studio.imageContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
